<div class="col">
  <div *ngIf="users">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="userDetail(user)" [routerLink]="['user', user.id, 'details']">Detail</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="editUser(user)" [routerLink]="['user', user.id, 'edit']">Edit</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="gridLength.length <= 0">
          <td colspan="5" class="text-center">
              No Record Found
          </td>
        </tr>
      </tbody>
    </table>
      <button class="btn btn-primary float-right" [routerLink]="['adduser']">Add User</button>
  </div>
</div>
