<div class="col">
  <div *ngIf="users">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="editUser(user)">Edit</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteUser(user.id)" [disabled]="isDisable">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
