<div class="col">
  <div *ngIf="users">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User Id</th>
          <th>User Name</th>
          <th>Details</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Add User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>
            <button class="btn btn-primary" (click)="userDetail(user)" [routerLink]="['user', user.id]">Detail</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="editUser(user)" [routerLink]="['user', user.id, 'edit']">Edit</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteUser(user.id)">Delete</button>
          </td>
          <td>
              <button class="btn btn-primary" (click)="addUser()" [routerLink]="['adduser']">Add User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
